/* reset css */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
/* final reset css */

body{
	background: #283048;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



	font-family:'Titillium Web', sans-serif;
	font-size: 20px
}

header{

	margin-top: 80px

}

img{
	border-radius:150px;
}

#testimonial{

	background-color: #f1f1f1;
	padding:50px 0px 30px 0;
	text-align: center;
	margin-top: 30px
}

.fondo-imagen{
	background:url(../img/background.jpg) no-repeat;
	border-radius:15px;

}
